<%= link_to entry, class: "comment" do %>
    <div class="comment-image">
        <%= image_tag entry.video.url(:thumb) %>
    </div>
    <div class="comment-content">
        <h1><%= entry.entrant.name %></h1>
        <p class="comment-detail"><%= time_ago_in_words(entry.date_created) %> ago</p>
    </div>
<% end %>