<div class="card entry" data-entry-id="<%= entry.id %>">    
    <div class="card-image">
        <%= image_tag entry.video.url(:thumb), class: "entry-poster img-responsive" %>
    </div>
    <div class="card-header entrant-name"><%= entry.entrant.name %></div>
    <div class="card-copy">
        <p class="entry-time"><%= time_ago_in_words(entry.date_created) %> ago</p>
    </div>
</div>
