<h2><%= pluralize(@numEntries, "entry") %></h2>

<% if @entries.length == 0 %>
    <div class="no-entries"></div>
<% else %>
    <%= paginate @entries %>

    <div class="cards">
        <%= render @entries %>
    </div>

    <%= paginate @entries %>
<% end %>
