<header class="navigation">
  <div class="menu-wrapper">
      <%= link_to image_tag('logo_header.png'), root_path, class: "logo" %>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
  </div>
</header>
